@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    flex-direction: column;
}
.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 76px;
    color: white;
    font-weight: bold;
    background-color: brown;
    height: 225px;
    padding-top: 85px;
    font-family: 'Inter', sans-serif;
}
.login-form input {
    height: 80px;
    width: 500px;
    outline: none;
    border: none;
    background-color: var(--background-secondary);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: bold;
    border-radius: 20px 30px 20px 30px;
    padding-left: 10px;
}
.login-form input::placeholder {
    color: white;
}
.divider {
    width: 350px;
}