.btn-default { 
    height: 80px;
    width: 220px;
    font-size: 28px;
    color: white;
    font-weight: bold;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 30px 20px;
    transition: all 0.2s ease-in-out;
}
.btn-default:hover {
    background-color: #477935;
}
.btn-default a {
    text-decoration: none;
    color: white;
}