.input-field {
    height: 80px;
    width: 500px;
    outline: none;
    border: none;
    background-color: var(--background-secondary);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: bold;
    border-radius: 20px 30px 20px 30px;
    padding-left: 10px;
}
.input-field::placeholder {
    color: white;
}