@import "tailwindcss";

:root {
  --color-primary: #569b3d;
  --secondary-color: #FFF7E8;
  --background-secondary: #E2C689;
  --text-hover: #DBDBDB;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}
